from os import environ
USERNAME = "Github"
ICON_URL = ""
MATTERMOST_WEBHOOK_URLS = {
    'default' : (environ['HOOK_URL'], environ['CHANNEL_NAME']),
}
SECRET = ""
SHOW_AVATARS = True
SERVER = {
    'hook': "/",
    'address': "0.0.0.0",
    'port': 5000,
}

